*{
    padding:0%;
    margin:0%;
}
.heading{
    width:100%;
    height:4rem;
    background-color:red;
    color:blue;
    font-size:1.15rem;
}
.flexPart{
    display:flex;
    justify-content:center;
    align-items:center;
}
.btns button{
    margin:3rem;
    height:3rem;
    width:5rem;
    border-radius:8px;
    border:2px solid silver;
    background-color: aquamarine;
}
.me{
    margin:1rem;
    font-size:4rem;
}
.computer{
    margin:1rem;
    font-size:4rem;
}
.points{
    background-color: chocolate;
    border-radius:15%;
}
.result{
    border:black;
    background-color: bisque;
    margin:10px;
    padding:10px;
    border-radius: 10%;
}
.pointBox{
    display:flex;
    flex-direction:column;
}
.reset{
    background-color: cornflowerblue;
    border-radius:1rem;
    transform:scale(2);
    margin-top:10px;
}

